.home-page {
  margin-top: 60px;
}
/* service section style */
.service {
  position: relative;
  .item-service {
    text-align: center;
    margin-bottom: 40px;
    text-transform: capitalize;
    background-color: $bg2Color;
    padding: 12px 20px;
    @include prefix(border-radius, 0 6px 0 6px);
    height: 150px;
    span {
      display: block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border: 1px solid $threedColor;
      margin: 0 auto 20px;
      @include prefix(border-radius, 50%);
      svg {
        color: $threedColor;
        font-size: 30px;
      }
      h6 {
        color: $textColor;
      }
    }
    h6 {
      .rtl & {
        font-size: 20px;
      }
    }
  }
  .read-more {
    margin: 10px auto;
  }
}
/* features section style */
.features {
  text-transform: capitalize;
  .section-header {
    margin-bottom: 0 !important;
  }
  .feature-item {
    width: 100%;
    height: 140px;
    padding: 10px 5px;
    box-shadow: 3px 3px 12px $secendColor, -3px -3px 12px $secendColor;
    @include prefix(border-radius, 0 10px 0 10px);
    @include media-breakpoint-down(md){ 
      height: auto;
    }
    .feature-image {
      margin-right: 20px;
      .rtl & {
        margin-left: 20px;
        margin-right: 0;
      }
      img {
        width: 60px;
        height: 60px;
      }
    }
    .feature-body {
      h6 {
        color: $threedColor;
        .rtl & {
          font-size: 20px;
        }
      }
      p {
        font-size: 13px;
        color: $textColor;
        font-weight: bold;
        .rtl & {
          font-size: 15px;
        }
      }
    }
  }
}
/* gallery section style */
.gallery-devices {
  .gallary-img {
    position: relative;
    height: 250px;
    margin-bottom: 30px;
    @include prefix(border-radius, 5px 10px 5px 10px);
    @include prefix(transition, all 0.3s ease-in-out);
    overflow: hidden;
    box-shadow: 5px 5px 12px $bgColor,
    5px 5px 12px $bgColor;
    &:hover {
      img {
        @include prefix(transform, scale(1.2));
      }
    }
    img {
      width: 100%;
      height: 100%;
      @include prefix(transform, scale(1));
      cursor: pointer;
      @include prefix(transition, all 0.3s ease-in-out);
    }
  };
  .read-more{
    margin: 0 auto;
  }
};
.devices {
  .header-tap {
    display: flex;
    text-transform: capitalize;
    margin: 30px 0;
    flex-wrap: wrap;
    li {
      &:not(:first-of-type) {
        margin-left: 20px;
        .rtl & {
          margin-left: 0;
          margin-right: 20px;
        }
      }
      cursor: pointer;
      font-weight: bold;
      color: $textColor;
      padding: 5px 10px;
      background-color: $secendColor;
      color: $lightColor;
      @include prefix(border-radius, 5px);
      @include prefix(transition, all 0.3s ease-in-out);
      &.active {
        color: $lightColor;
        background-color: $threedColor;
      }
      &:hover {
        color: $lightColor;
        background-color: $threedColor;
      }
    }
  }
  .device-item {
    position: relative;
    height: 300px;
    background-color: $bgColor;
    margin-bottom: 30px;
    border: 2px solid $secendColor;
    padding: 3px;
    @include prefix(border-radius, 5px 10% 5px 10%);
    overflow: hidden;
    @include prefix(transition, all 0.3s ease-in-out);
    img {
      width: 100%;
      height: 100%;
      @include prefix(border-radius, 5px 10% 5px 10%);
    }
  }
}
// clients section style */
.clients {
  .descriprion-header{
    margin-bottom: 0;
    p{
      font-size: 25px;
      margin-bottom: 0;
      @include media-breakpoint-down(md){ 
        font-size: 20px;
       }
    }
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 200px;
      @include prefix(border-radius,5px 12px 5px 12px);
      box-shadow: 4px 4px 20px $mainColor,
      -4px -4px 20px $mainColor;
      img {
        display: block;
        width: 100%;
        height: 100%;
        @include prefix(border-radius,5px 12px 5px 12px);
      }
    }
  }
};
/* team section style */
.team {
  position: relative;
  padding: 30px 20px;
  background-color: $bg2Color;
  section-header {
    margin-bottom: 0 !important;
  };
  .section-header{
    margin-bottom: 0;
  } 
  .card {
    margin-bottom: 30px;
    width: 100%;
    height: 230px;
    text-align: center;
    background-color: transparent;
    @include prefix(border-radius, 50px 5px 50px 5px);
    @include prefix(transition, all 0.2s ease-in-out);
    @include media-breakpoint-between(md,lg){ 
      height: 260px;
    }
    border: 0;
    padding: 3px;
    overflow: hidden;
    &::before {
      content: "";
      background: linear-gradient(60deg, transparent, $threedColor);
      width: 98%;
      height: 98%;
      position: absolute;
      top: -50%;
      left: -50%;
      transform-origin: bottom right;
      z-index: 1;
      animation: border_rotate 6s linear infinite;
    }
    &::after {
      content: "";
      background: linear-gradient(60deg, transparent, $mainColor);
      width: 100%;
      height: 100%;
      position: absolute;
      top: -50%;
      left: -50%;
      transform-origin: bottom right;
      z-index: 1;
      animation: border_rotate 6s linear infinite;
      animation-delay: -3s;
    }
    .team-item {
      width: 98%;
      height: 98%;
      position: absolute;
      background-color: $textColor;
      @include prefix(border-radius, 50px 5px 50px 5px);
      @include prefix(transition, all 0.2s ease-in-out);
      inset: 2;
      z-index: 10;
    }
    img {
      display: block;
      width: 150px;
      height: 150px;
      padding: 2px;
      background-color: $lightColor;
      border: 3px dashed $secendColor;
      @include prefix(border-radius, 50%);
      margin: 0 auto;
      box-shadow: 2px 2px 25px $mainColor, -2px -2px 25px $mainColor;
    }
    .card-body {
      text-transform: capitalize;
      color: $textColor;
      padding: 3px;
      .card-title {
        color: $threedColor;
        margin-top: 5px;
      }
      .card-text {
        font-weight: bold;
        color: $lightColor;
        margin-top: 5px;
        @include media-breakpoint-down(md){ 
          font-size: 13px;
         }
      }
    }
  }
};


@keyframes animation-wave {
  0% {
    @include prefix(transform, scale(1));
    opacity: 1;
  }
  100% {
    @include prefix(transform, scale(1.7));
    opacity: 0;
  }
}
@keyframes border_rotate {
  0% {
    @include prefix(transform, rotate(0deg));
  }
  100% {
    @include prefix(transform, rotate(360deg));
  }
}
